
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Yeni Kategori</h2>
<br />


<label>    Kategori Adı</label>
<input type="text" class="form-control" name="ad"/>
<br />
<button class="btn btn-success" id="btnKaydet">Kaydet</button>
